# App
APP_NAME=my-app
APP_VERSION=v0.1.1

# Logger
LOGGER_PRETTY_CONSOLE=true  # чтобы логи выводились красиво (для локальной разработки true)
LOGGER_LEVEL=debug          # уровень логгирования (debug самый низкий)

# Postgres
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_PORT=5432
POSTGRES_HOST=localhost
POSTGRES_DB_NAME=postgres